<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>热力图</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://webapi.amap.com/maps?v=1.4.3&key={{ .key }}"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>
<body>
<div id="container"></div>
<div class="button-group">
    <input type="button" class="button" value="显示/隐藏热力图" onclick="switchHeatmap()"/>
    <input type="button" class="button" value="显示/隐藏楼盘名称" onclick="switchMarkers()"/>
</div>
<script>
    var heatmapData = [
        {"lat":31.288101, "lng":121.063793, "count": 1},
        {"lat":30.796045, "lng":120.923896, "count": 1},
        {"lat":31.788258, "lng":121.470716, "count": 1},
        {"lat":30.724204, "lng":120.517235, "count": 1},
        {"lat":31.286079, "lng":121.326077, "count": 1},
        {"lat":30.748862, "lng":121.344477, "count": 1},
        {"lat":30.900599, "lng":121.908153, "count": 1},
        {"lat":31.31994, "lng":121.381183, "count": 1},
        {"lat":30.726845, "lng":121.352416, "count": 1},
        {"lat":31.007251, "lng":121.316341, "count": 1},
        {"lat":31.399134, "lng":121.441423, "count": 1},
        {"lat":30.830761, "lng":121.31864, "count": 1},
        {"lat":30.895223, "lng":121.908132, "count": 1},
        {"lat":31.061913, "lng":121.78439, "count": 1},
        {"lat":31.099624, "lng":121.590918, "count": 1},
        {"lat":31.381925, "lng":120.958137, "count": 1},
        {"lat":31.032067720005, "lng":120.856547800224, "count": 1},
        {"lat":31.108602, "lng":121.705123, "count": 1},
        {"lat":31.180722, "lng":121.016669, "count": 1},
        {"lat":31.280316, "lng":121.07675, "count": 1},
        {"lat":30.970519, "lng":121.811696, "count": 1},
        {"lat":31.418006, "lng":121.27699, "count": 1},
        {"lat":31.1612, "lng":121.09594, "count": 1},
        {"lat":31.090454, "lng":121.173553, "count": 1},
        {"lat":30.897788, "lng":121.017473, "count": 1},
        {"lat":30.745335, "lng":121.341194, "count": 1},
        {"lat":31.128765, "lng":121.219165, "count": 1},
        {"lat":30.850165, "lng":121.512909, "count": 1},
        {"lat":31.184068, "lng":121.286034, "count": 1},
        {"lat":31.144962, "lng":121.15097, "count": 1},
        {"lat":31.179087, "lng":121.608828, "count": 1},
        {"lat":30.74523, "lng":121.318975, "count": 1},
        {"lat":31.285703, "lng":121.20585, "count": 1},
        {"lat":31.27646, "lng":121.075945, "count": 1},
        {"lat":31.395919, "lng":121.040969, "count": 1},
        {"lat":30.914383, "lng":121.664736, "count": 1},
        {"lat":30.975705, "lng":121.516106, "count": 1},
        {"lat":31.151111, "lng":121.751014, "count": 1},
        {"lat":31.277762, "lng":121.205828, "count": 1},
        {"lat":31.284758, "lng":121.175766, "count": 1},
        {"lat":31.114367, "lng":120.63446, "count": 1},
        {"lat":31.134879, "lng":120.613399, "count": 1},
        {"lat":31.137854, "lng":120.621002, "count": 1},
        {"lat":31.132574, "lng":120.660188, "count": 1},
        {"lat":30.900527, "lng":120.614947, "count": 1},
        {"lat":31.180928, "lng":120.632322, "count": 1},
        {"lat":31.693190845788, "lng":120.206229963659, "count": 1},
        {"lat":30.646965696649, "lng":120.534476314583, "count": 1},
        {"lat":30.730676746491, "lng":121.017095490235, "count": 1},
        {"lat":31.381925, "lng":120.958137, "count": 1},
        {"lat":31.801012970761, "lng":121.654087477355, "count": 1},
        {"lat":31.599282164157, "lng":120.177600578458, "count": 1},
        {"lat":31.67230204821, "lng":120.354835723295, "count": 1},
        {"lat":31.717060516835, "lng":120.184215542107, "count": 1},
        {"lat":31.667201641922, "lng":120.42897418604, "count": 1},
        {"lat":31.669728082945, "lng":120.29692107441, "count": 1},
        {"lat":31.650459355896, "lng":120.219578167734, "count": 1},
        {"lat":31.612557001894, "lng":121.211633999879, "count": 1},
        {"lat":31.475007999501, "lng":121.143812999893, "count": 1},
        {"lat":31.374428995473, "lng":121.034544998746, "count": 1},
        {"lat":30.90183841, "lng":120.07528543, "count": 1},
        {"lat":30.85629472, "lng":120.08962158, "count": 1},
        {"lat":30.89984903, "lng":120.08352639, "count": 1},
        {"lat":30.89685665, "lng":120.09820309, "count": 1},
        {"lat":30.94168783, "lng":120.12076009, "count": 1},
        {"lat":30.85309915, "lng":120.20063562, "count": 1},
        {"lat":30.896431, "lng":120.126822, "count": 1},
        {"lat":30.86113975, "lng":120.27662382, "count": 1},
        {"lat":30.8765207, "lng":120.12458368, "count": 1},
        {"lat":30.89968358, "lng":120.07992457, "count": 1},
        {"lat":30.86418025, "lng":120.12852141, "count": 1},
        {"lat":30.85390048, "lng":120.41710929, "count": 1},
        {"lat":30.86821891, "lng":120.12022889, "count": 1},
        {"lat":30.86384093, "lng":120.41673023, "count": 1},
        {"lat":30.88712529, "lng":120.09464548, "count": 1},
        {"lat":30.86147192, "lng":120.08045905, "count": 1},
        {"lat":30.86667155, "lng":120.15733326, "count": 1},
        {"lat":30.85210442, "lng":120.08515537, "count": 1},
        {"lat":30.91583436, "lng":120.09826662, "count": 1},
        {"lat":30.538002, "lng":120.014472, "count": 1},
        {"lat":30.87521268, "lng":120.1101314, "count": 1},
        {"lat":30.87652872, "lng":120.0835389, "count": 1},
        {"lat":30.87924445, "lng":120.10296945, "count": 1},
        {"lat":30.87174773, "lng":120.0855921, "count": 1},
        {"lat":30.9165282, "lng":120.08420051, "count": 1},
        {"lat":30.85405401, "lng":120.14784769, "count": 1},
        {"lat":30.87251526, "lng":120.11857316, "count": 1},
        {"lat":30.84923519, "lng":120.10080225, "count": 1},
        {"lat":30.91360266, "lng":120.09747565, "count": 1},
        {"lat":30.84194462, "lng":120.08091906, "count": 1},
        {"lat":30.86121482, "lng":120.38702879, "count": 1},
        {"lat":30.5377211, "lng":120.00726988, "count": 1},
        {"lat":30.85891614, "lng":120.42052291, "count": 1},
        {"lat":30.89338781, "lng":120.09811538, "count": 1},
        {"lat":30.84598051, "lng":120.19283109, "count": 1},
        {"lat":30.87244239, "lng":120.09886895, "count": 1},
        {"lat":30.85871478, "lng":120.07567331, "count": 1},
        {"lat":30.82294544, "lng":120.2021957, "count": 1},
        {"lat":30.8522143, "lng":120.09273719, "count": 1},
        {"lat":30.854653, "lng":120.152528, "count": 1},
        {"lat":31.548851, "lng":120.451783, "count": 1},
        {"lat":31.178999, "lng":120.672655, "count": 1},
        {"lat":31.1228, "lng":120.616071, "count": 1},
        {"lat":31.222815, "lng":120.63877, "count": 1},
        {"lat":30.920968, "lng":120.626585, "count": 1},
        {"lat":31.121363, "lng":120.646154, "count": 1},
        {"lat":30.628071, "lng":120.588899, "count": 1},
        {"lat":30.728316, "lng":120.738308, "count": 1},
        {"lat":30.736008, "lng":120.799248, "count": 1},
        {"lat":30.734993, "lng":120.735755, "count": 1},
        {"lat":30.740582, "lng":120.801469, "count": 1},
        {"lat":30.119944, "lng":121.572132, "count": 1},
        {"lat":31.616565, "lng":120.5441, "count": 1},
        {"lat":31.567091, "lng":120.330677, "count": 1},
        {"lat":31.500764, "lng":120.30574, "count": 1},
        {"lat":31.610991, "lng":120.252319, "count": 1},
        {"lat":31.509931, "lng":120.497585, "count": 1},
        {"lat":31.575866, "lng":120.089493, "count": 1},
        {"lat":31.717057, "lng":120.184189, "count": 1},
        {"lat":31.669755, "lng":120.296431, "count": 1},
        {"lat":31.56257704, "lng":120.2895074, "count": 1},
        {"lat":31.537451, "lng":120.324717, "count": 1},
        {"lat":31.471978, "lng":120.379161, "count": 1},
        {"lat":31.556666, "lng":120.283831, "count": 1},
        {"lat":31.69436, "lng":120.209283, "count": 1},
        {"lat":31.693895, "lng":120.188458, "count": 1},
        {"lat":31.55884, "lng":120.351988, "count": 1},
        {"lat":31.584999, "lng":120.300843, "count": 1},
        {"lat":31.572818, "lng":120.379625, "count": 1},
        {"lat":31.56335, "lng":120.277835, "count": 1},
        {"lat":31.587331, "lng":120.325188, "count": 1},
        {"lat":31.54008165, "lng":120.2848505, "count": 1},
        {"lat":31.57877, "lng":120.287016, "count": 1},
        {"lat":31.514308, "lng":120.283631, "count": 1},
        {"lat":31.708657, "lng":120.184396, "count": 1},
        {"lat":31.463231, "lng":120.124603, "count": 1},
        {"lat":31.565761, "lng":120.372198, "count": 1},
        {"lat":31.661422, "lng":120.3135, "count": 1},
        {"lat":31.492029, "lng":120.305108, "count": 1},
        {"lat":31.556829, "lng":120.377594, "count": 1},
        {"lat":31.56079861, "lng":120.2940177, "count": 1},
        {"lat":31.535973, "lng":120.303858, "count": 1},
        {"lat":31.54860786, "lng":120.3133892, "count": 1},
        {"lat":31.677206, "lng":120.494303, "count": 1},
        {"lat":31.538178, "lng":120.302385, "count": 1},
        {"lat":31.204916, "lng":120.654973, "count": 1},
        {"lat":30.911577, "lng":120.53504, "count": 1},
        {"lat":30.88317, "lng":120.622951, "count": 1},
        {"lat":30.982264, "lng":120.632871, "count": 1},
        {"lat":30.903827, "lng":120.626643, "count": 1},
        {"lat":30.896232, "lng":120.632271, "count": 1},
        {"lat":31.113112, "lng":120.624642, "count": 1},
        {"lat":31.135796, "lng":120.622622, "count": 1},
        {"lat":30.906432, "lng":120.622925, "count": 1},
        {"lat":31.137889, "lng":120.617809, "count": 1},
        {"lat":31.133232, "lng":120.665331, "count": 1},
        {"lat":31.178941, "lng":120.647217, "count": 1},
        {"lat":31.120994, "lng":120.639748, "count": 1},
        {"lat":30.835903, "lng":121.23716, "count": 1},
        {"lat":31.05654, "lng":121.776108, "count": 1},
        {"lat":31.009596, "lng":121.431155, "count": 1},
        {"lat":31.157624, "lng":121.281915, "count": 1},
        {"lat":31.031308, "lng":121.637737, "count": 1},
        {"lat":31.326257, "lng":121.403389, "count": 1},
        {"lat":31.545771, "lng":120.258751, "count": 1},
        {"lat":31.405059, "lng":121.273592, "count": 1},
        {"lat":31.158153, "lng":120.996701, "count": 1},
        {"lat":30.962265, "lng":121.747184, "count": 1},
        {"lat":31.397884, "lng":121.244114, "count": 1},
        {"lat":31.120071, "lng":121.046081, "count": 1},
        {"lat":31.048347, "lng":121.726198, "count": 1},
        {"lat":31.04736, "lng":121.7681, "count": 1},
        {"lat":31.166116191967, "lng":120.996433016944, "count": 1},
        {"lat":30.899704, "lng":120.613042, "count": 1},
        {"lat":30.974843, "lng":121.554727, "count": 1},
        {"lat":31.554951, "lng":120.126394, "count": 1},
        {"lat":31.537323, "lng":120.260382, "count": 1},
        {"lat":31.556555, "lng":120.304365, "count": 1},
        {"lat":31.522668, "lng":120.288491, "count": 1},
        {"lat":31.539444, "lng":120.334126, "count": 1},
        {"lat":31.564259, "lng":120.294031, "count": 1},
        {"lat":31.55447, "lng":120.309787, "count": 1},
        {"lat":31.590453, "lng":120.295401, "count": 1},
        {"lat":31.524975, "lng":120.268612, "count": 1},
        {"lat":31.143548, "lng":120.617115, "count": 1},
        {"lat":31.142534, "lng":120.598322, "count": 1},
        {"lat":31.029972, "lng":121.185621, "count": 1},
        {"lat":31.45001, "lng":121.331506, "count": 1},
        {"lat":31.240096, "lng":121.673514, "count": 1},
        {"lat":30.906109, "lng":121.809701, "count": 1},
        {"lat":30.903114, "lng":121.418244, "count": 1},
        {"lat":31.641161, "lng":121.566312, "count": 1},
        {"lat":31.150036, "lng":121.304995, "count": 1},
        {"lat":31.016764, "lng":121.209363, "count": 1},
        {"lat":31.174999, "lng":121.263213, "count": 1},
        {"lat":31.223812, "lng":121.331559, "count": 1}
    ];

    var map = new AMap.Map("container", {
        resizeEnable: true,
        mapStyle: "amap://styles/dark"
    });
    markerList = [
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13229.html\')">花桥象屿都城<\a>'}, position: [121.063793,31.288101]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13478.html\')">新西塘孔雀城<\a>'}, position: [120.923896,30.796045]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13324.html\')">绿地长岛<\a>'}, position: [121.470716,31.788258]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13139.html\')">绿城乌镇雅园<\a>'}, position: [120.517235,30.724204]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13027.html\')">好世凤翔苑<\a>'}, position: [121.326077,31.286079]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12987.html\')">金山红星国际广场<\a>'}, position: [121.344477,30.748862]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12772.html\')">临港首府<\a>'}, position: [121.908153,30.900599]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12676.html\')">大华朗香花园<\a>'}, position: [121.381183,31.31994]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12504.html\')">合生财富海景公馆<\a>'}, position: [121.352416,30.726845]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12297.html\')">同润十里洋坊<\a>'}, position: [121.316341,31.007251]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12141.html\')">万业紫辰苑<\a>'}, position: [121.441423,31.399134]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13428.html\')">华纺和成未来派<\a>'}, position: [121.31864,30.830761]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12140.html\')">滴水湖馨苑城萃<\a>'}, position: [121.908132,30.895223]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13432.html\')">远洋万和四季<\a>'}, position: [121.78439,31.061913]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12652.html\')">中金海棠湾<\a>'}, position: [121.590918,31.099624]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110016383.html\')">万科海上传奇<\a>'}, position: [120.958137,31.381925]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110013722.html\')">碧桂园湖悦天境花园<\a>'}, position: [120.856547800224,31.032067720005]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20026028.html\')">绿都绣云里<\a>'}, position: [121.705123,31.108602]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20025228.html\')">建伟韵湖国际<\a>'}, position: [121.016669,31.180722]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20024168.html\')">滨江裕花园<\a>'}, position: [121.07675,31.280316]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20023673.html\')">天健萃园<\a>'}, position: [121.811696,30.970519]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20023341.html\')">碧桂园嘉誉<\a>'}, position: [121.27699,31.418006]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13453.html\')">富绅时代公馆<\a>'}, position: [121.09594,31.1612]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13441.html\')">绿地海珀佘山<\a>'}, position: [121.173553,31.090454]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13422.html\')">正荣璟园<\a>'}, position: [121.017473,30.897788]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13337.html\')">湖山香颂湾<\a>'}, position: [121.341194,30.745335]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13322.html\')">恒大佘山首府<\a>'}, position: [121.219165,31.128765]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13292.html\')">佳源梦想广场<\a>'}, position: [121.512909,30.850165]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13288.html\')">中建锦绣天地<\a>'}, position: [121.286034,31.184068]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13170.html\')">泰禾红桥<\a>'}, position: [121.15097,31.144962]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13156.html\')">万科翡翠公园<\a>'}, position: [121.608828,31.179087]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13148.html\')">正荣御首府<\a>'}, position: [121.318975,30.74523]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13121.html\')">西上海御庭<\a>'}, position: [121.20585,31.285703]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12776.html\')">万科mixtown<\a>'}, position: [121.075945,31.27646]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13017.html\')">中南世纪城<\a>'}, position: [121.040969,31.395919]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20022841.html\')">水榭兰亭<\a>'}, position: [121.664736,30.914383]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13329.html\')">天和前滩时代<\a>'}, position: [121.516106,30.975705]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13211.html\')">东亚启航公馆<\a>'}, position: [121.751014,31.151111]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13182.html\')">大学里<\a>'}, position: [121.205828,31.277762]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12786.html\')">瑞立万立城<\a>'}, position: [121.175766,31.284758]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110016434.html\')">旭辉吴门府<\a>'}, position: [120.63446,31.114367]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20029174.html\')">苏州湾天铂<\a>'}, position: [120.613399,31.134879]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20025918.html\')">枫丹壹號<\a>'}, position: [120.621002,31.137854]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20024092.html\')">万科苏高新四季风景花园<\a>'}, position: [120.660188,31.132574]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20022608.html\')">碧桂园天誉<\a>'}, position: [120.614947,30.900527]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/140599.html\')">新湖明珠城<\a>'}, position: [120.632322,31.180928]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110058794.html\')">御景·珑庭<\a>'}, position: [120.206229963659,31.693190845788]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110055805.html\')">华庭丽晶<\a>'}, position: [120.534476314583,30.646965696649]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110055369.html\')">泛华东福城<\a>'}, position: [121.017095490235,30.730676746491]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110032951.html\')">光明·铂悦公馆<\a>'}, position: [120.958137,31.381925]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110019253.html\')">银洲皇家学府<\a>'}, position: [121.654087477355,31.801012970761]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110016216.html\')">苹果园·幸福城<\a>'}, position: [120.177600578458,31.599282164157]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110016215.html\')">上品·长安人家<\a>'}, position: [120.354835723295,31.67230204821]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110016211.html\')">龙世西湖湾<\a>'}, position: [120.184215542107,31.717060516835]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110016209.html\')">鸿威鸿景雅园<\a>'}, position: [120.42897418604,31.667201641922]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110016208.html\')">嘉盛维纳阳光<\a>'}, position: [120.29692107441,31.669728082945]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110016207.html\')">溪畔橡园<\a>'}, position: [120.219578167734,31.650459355896]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110013714.html\')">碧桂园·柏悦湾<\a>'}, position: [121.211633999879,31.612557001894]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110013709.html\')">碧桂园•天悦湾<\a>'}, position: [121.143812999893,31.475007999501]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110010843.html\')">公元壹号<\a>'}, position: [121.034544998746,31.374428995473]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003942.html\')">首创悦府<\a>'}, position: [120.07528543,30.90183841]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003935.html\')">春江名城<\a>'}, position: [120.08962158,30.85629472]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003813.html\')">大港御景新城<\a>'}, position: [120.08352639,30.89984903]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003762.html\')">翰林世家<\a>'}, position: [120.09820309,30.89685665]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003679.html\')">御湖天誉<\a>'}, position: [120.12076009,30.94168783]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003556.html\')">富力城<\a>'}, position: [120.20063562,30.85309915]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003549.html\')">红旗景都<\a>'}, position: [120.126822,30.896431]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003363.html\')">珍贝金鼎国际<\a>'}, position: [120.27662382,30.86113975]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003321.html\')">赞成学士府<\a>'}, position: [120.12458368,30.8765207]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003197.html\')">金色地中海<\a>'}, position: [120.07992457,30.89968358]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003148.html\')">香墅里<\a>'}, position: [120.12852141,30.86418025]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110003061.html\')">香墅湾<\a>'}, position: [120.41710929,30.85390048]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002913.html\')">新华府<\a>'}, position: [120.12022889,30.86821891]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002892.html\')">九龙秀水华庭<\a>'}, position: [120.41673023,30.86384093]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002887.html\')">金色水岸<\a>'}, position: [120.09464548,30.88712529]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002877.html\')">香榭里<\a>'}, position: [120.08045905,30.86147192]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002856.html\')">海上湾<\a>'}, position: [120.15733326,30.86667155]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002847.html\')">星汇半岛二期<\a>'}, position: [120.08515537,30.85210442]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002814.html\')">赞成名仕府<\a>'}, position: [120.09826662,30.91583436]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002719.html\')">保利原乡<\a>'}, position: [120.014472,30.538002]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002635.html\')">佳园<\a>'}, position: [120.1101314,30.87521268]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002573.html\')">鸿地凰庭<\a>'}, position: [120.0835389,30.87652872]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002509.html\')">长岛府<\a>'}, position: [120.10296945,30.87924445]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002490.html\')">恒佳太阳城<\a>'}, position: [120.0855921,30.87174773]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002396.html\')">祥生悦山湖<\a>'}, position: [120.08420051,30.9165282]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002342.html\')">湖东府<\a>'}, position: [120.14784769,30.85405401]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002320.html\')">香溪悦府<\a>'}, position: [120.11857316,30.87251526]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002313.html\')">鸿泊湾<\a>'}, position: [120.10080225,30.84923519]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002303.html\')">奥园壹号<\a>'}, position: [120.09747565,30.91360266]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110002095.html\')">天河理想城<\a>'}, position: [120.08091906,30.84194462]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110001163.html\')">滨江丽景<\a>'}, position: [120.38702879,30.86121482]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110001123.html\')">绿城英溪桃源<\a>'}, position: [120.00726988,30.5377211]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110001040.html\')">光明中央公园<\a>'}, position: [120.42052291,30.85891614]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110001021.html\')">天鸿天际<\a>'}, position: [120.09811538,30.89338781]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110000891.html\')">东方花园<\a>'}, position: [120.19283109,30.84598051]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110000879.html\')">达多大都汇<\a>'}, position: [120.09886895,30.87244239]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110000854.html\')">汎港润园<\a>'}, position: [120.07567331,30.85871478]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110000712.html\')">碧桂园滨湖城<\a>'}, position: [120.2021957,30.82294544]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110000706.html\')">得力浅水湾<\a>'}, position: [120.09273719,30.8522143]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110000293.html\')">蜀山雅苑<\a>'}, position: [120.152528,30.854653]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20038848.html\')">碧桂园梅公馆<\a>'}, position: [120.451783,31.548851]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20038274.html\')">绿地苏州ONE<\a>'}, position: [120.672655,31.178999]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20027219.html\')">绿地香奈<\a>'}, position: [120.616071,31.1228]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20025449.html\')">新城招商香溪源<\a>'}, position: [120.63877,31.222815]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20024340.html\')">亨通吴越锦绣<\a>'}, position: [120.626585,30.920968]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20021468.html\')">绿地江南华府<\a>'}, position: [120.646154,31.121363]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/2070298.html\')">桐乡新城吾悦广场<\a>'}, position: [120.588899,30.628071]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/2070231.html\')">香港兴业御缇湾<\a>'}, position: [120.738308,30.728316]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/2070222.html\')">万达华府<\a>'}, position: [120.799248,30.736008]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/2070191.html\')">紫元尚园<\a>'}, position: [120.735755,30.734993]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/2070119.html\')">铂金府邸<\a>'}, position: [120.801469,30.740582]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/361266.html\')">龙湖香醍漫步<\a>'}, position: [121.572132,30.119944]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/341014.html\')">御景华庭<\a>'}, position: [120.5441,31.616565]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340909.html\')">信运现代城<\a>'}, position: [120.330677,31.567091]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340900.html\')">富力十号<\a>'}, position: [120.30574,31.500764]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340857.html\')">启迪协信·无锡科技城<\a>'}, position: [120.252319,31.610991]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340819.html\')">吴月雅境<\a>'}, position: [120.497585,31.509931]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340814.html\')">盛世兰亭<\a>'}, position: [120.089493,31.575866]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340770.html\')">龙世西湖湾庄园<\a>'}, position: [120.184189,31.717057]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340769.html\')">嘉盛维纳阳光<\a>'}, position: [120.296431,31.669755]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340697.html\')">银城京梁合<\a>'}, position: [120.2895074,31.56257704]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340671.html\')">东宝康园<\a>'}, position: [120.324717,31.537451]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340664.html\')">启迪协信阿卡迪亚<\a>'}, position: [120.379161,31.471978]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340659.html\')">中建溪岸观邸<\a>'}, position: [120.283831,31.556666]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340640.html\')">御景名仕苑<\a>'}, position: [120.209283,31.69436]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340638.html\')">锦翠嘉苑<\a>'}, position: [120.188458,31.693895]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340587.html\')">长江国际朗庭<\a>'}, position: [120.351988,31.55884]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340535.html\')">保利达江湾城<\a>'}, position: [120.300843,31.584999]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340523.html\')">花样年花郡<\a>'}, position: [120.379625,31.572818]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340521.html\')">华润悦府<\a>'}, position: [120.277835,31.56335]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340516.html\')">红豆人民路九号<\a>'}, position: [120.325188,31.587331]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340460.html\')">天安曼哈顿<\a>'}, position: [120.2848505,31.54008165]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340430.html\')">香榭一品<\a>'}, position: [120.287016,31.57877]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340422.html\')">太湖国际社区<\a>'}, position: [120.283631,31.514308]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340421.html\')">宝龙香槟湖<\a>'}, position: [120.184396,31.708657]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340401.html\')">圣园<\a>'}, position: [120.124603,31.463231]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340341.html\')">美新玫瑰大道<\a>'}, position: [120.372198,31.565761]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340337.html\')">华府庄园·白金府邸<\a>'}, position: [120.3135,31.661422]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340273.html\')">绿城玉兰花园<\a>'}, position: [120.305108,31.492029]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340209.html\')">恒盛第一国际<\a>'}, position: [120.377594,31.556829]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340186.html\')">天元世家<\a>'}, position: [120.2940177,31.56079861]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340146.html\')">金科世界城<\a>'}, position: [120.303858,31.535973]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340143.html\')">恒威中央领地<\a>'}, position: [120.3133892,31.54860786]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340032.html\')">红豆尚东院<\a>'}, position: [120.494303,31.677206]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340020.html\')">九龙仓时代上城<\a>'}, position: [120.302385,31.538178]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141634.html\')">伟业优橙家<\a>'}, position: [120.654973,31.204916]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141631.html\')">太阳岛花苑<\a>'}, position: [120.53504,30.911577]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141627.html\')">东湖华庭<\a>'}, position: [120.622951,30.88317]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141555.html\')">立新印象嘉园<\a>'}, position: [120.632871,30.982264]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141554.html\')">立新苏杭之星<\a>'}, position: [120.626643,30.903827]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141550.html\')">立新天鸿国际花园<\a>'}, position: [120.632271,30.896232]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141540.html\')">朗诗滨湖绿郡<\a>'}, position: [120.624642,31.113112]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141517.html\')">华润凯旋名邸<\a>'}, position: [120.622622,31.135796]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141486.html\')">橡逸湾<\a>'}, position: [120.622925,30.906432]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141402.html\')">吾悦广场<\a>'}, position: [120.617809,31.137889]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141241.html\')">苏高新地产天城花园<\a>'}, position: [120.665331,31.133232]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141208.html\')">海亮长桥府<\a>'}, position: [120.647217,31.178941]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141147.html\')">金科廊桥水岸<\a>'}, position: [120.639748,31.120994]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13467.html\')">优山美地<\a>'}, position: [121.23716,30.835903]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13455.html\')">东原逸墅<\a>'}, position: [121.776108,31.05654]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13385.html\')">当代万国府MOMA<\a>'}, position: [121.431155,31.009596]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13320.html\')">虹桥正荣府<\a>'}, position: [121.281915,31.157624]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13319.html\')">中洲里程<\a>'}, position: [121.637737,31.031308]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13172.html\')">经纬学士逸居家园<\a>'}, position: [121.403389,31.326257]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13135.html\')">无锡万达文化旅游城<\a>'}, position: [120.258751,31.545771]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12975.html\')">佳兆业城市广场<\a>'}, position: [121.273592,31.405059]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12761.html\')">淀湖鹿鸣九里<\a>'}, position: [120.996701,31.158153]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12709.html\')">同润蓝美俊庭<\a>'}, position: [121.747184,30.962265]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12330.html\')">步阳御江金都<\a>'}, position: [121.244114,31.397884]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/11900.html\')">朱家角新城观澜府<\a>'}, position: [121.046081,31.120071]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12624.html\')">艺泰一品花园<\a>'}, position: [121.726198,31.048347]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20022553.html\')">东方城市豪庭<\a>'}, position: [121.7681,31.04736]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/110013655.html\')">富力湾四季半岛<\a>'}, position: [120.996433016944,31.166116191967]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20030254.html\')">碧桂园时代城<\a>'}, position: [120.613042,30.899704]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/20022573.html\')">天和尚上海<\a>'}, position: [121.554727,30.974843]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340800.html\')">香槟壹号<\a>'}, position: [120.126394,31.554951]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340721.html\')">路劲蠡湖院子<\a>'}, position: [120.260382,31.537323]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340701.html\')">家乐府<\a>'}, position: [120.304365,31.556555]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340373.html\')">山水湖滨花园二期<\a>'}, position: [120.288491,31.522668]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340155.html\')">九龙仓碧玺<\a>'}, position: [120.334126,31.539444]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340111.html\')">绿地西水东<\a>'}, position: [120.294031,31.564259]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340082.html\')">世界贸易中心<\a>'}, position: [120.309787,31.55447]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340006.html\')">华仁凤凰城798街区<\a>'}, position: [120.295401,31.590453]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/340002.html\')">蠡湖一号<\a>'}, position: [120.268612,31.524975]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141589.html\')">蓝光天悦城<\a>'}, position: [120.617115,31.143548]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/141487.html\')">苏州湾壹号<\a>'}, position: [120.598322,31.142534]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13302.html\')">华亭首府<\a>'}, position: [121.185621,31.029972]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13282.html\')">璟储新和湾<\a>'}, position: [121.331506,31.45001]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13222.html\')">金融家<\a>'}, position: [121.673514,31.240096]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/13212.html\')">东亚阳光里<\a>'}, position: [121.809701,30.906109]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12641.html\')">佳兆业8号<\a>'}, position: [121.418244,30.903114]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12514.html\')">蓝湖湾<\a>'}, position: [121.566312,31.641161]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12264.html\')">新虹桥首府<\a>'}, position: [121.304995,31.150036]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/12259.html\')">荣乐水岸二期<\a>'}, position: [121.209363,31.016764]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/11870.html\')">绿中海明苑<\a>'}, position: [121.263213,31.174999]}),
        new AMap.Marker({map: map, visible: false, label:{content:'<a onclick="openWindow(\'https://sh.focus.cn/loupan/10941.html\')">虹桥一号<\a>'}, position: [121.331559,31.223812]})
    ];
    var showMarkers = false;
    function switchMarkers() {
        if (showMarkers) {
            for (var i = 0; i < markerList.length; i++) {
                markerList[i].hide();
            }
            showMarkers = false;
        } else {
            for (i = 0; i < markerList.length; i++) {
                markerList[i].show();
            }
            showMarkers = true;
        }

    }
    if (!isSupportCanvas()) {
        alert('热力图仅对支持canvas的浏览器适用,您所使用的浏览器不能使用热力图功能,请换个浏览器试试~')
    }
    //详细的参数,可以查看heatmap.js的文档 http://www.patrick-wied.at/static/heatmapjs/docs.html
    //参数说明如下:
    /* visible 热力图是否显示,默认为true
     * opacity 热力图的透明度,分别对应heatmap.js的minOpacity和maxOpacity
     * radius 势力图的每个点的半径大小
     * gradient  {JSON} 热力图的渐变区间 . gradient如下所示
     *	{
     .2:'rgb(0, 255, 255)',
     .5:'rgb(0, 110, 255)',
     .8:'rgb(100, 0, 255)'
     }
     其中 key 表示插值的位置, 0-1
     value 为颜色值
     */
    var heatmap;
    map.plugin(["AMap.Heatmap"], function() {
        //初始化heatmap对象
        heatmap = new AMap.Heatmap(map, {
            radius: 15, //给定半径
            opacity: [0, 0.8]
            /*,gradient:{
             0.5: 'blue',
             0.65: 'rgb(117,211,248)',
             0.7: 'rgb(0, 255, 0)',
             0.9: '#ffea00',
             1.0: 'red'
             }*/
        });
        //设置数据集：该数据为北京部分“公园”数据
        heatmap.setDataSet({
            data: heatmapData,
            max: 1
        });
    });
    var showHeatmap = true;
    function switchHeatmap() {
        if (showHeatmap) {
            heatmap.hide();
            showHeatmap = false;
        } else {
            heatmap.show();
            showHeatmap = true;
        }
    }
    //判断浏览区是否支持canvas
    function isSupportCanvas() {
        var elem = document.createElement('canvas');
        return !!(elem.getContext && elem.getContext('2d'));
    }
    function openWindow(url) {
        var win = window.open(url, "弹出窗口" ,"width="+1300+",height="+550+",top=90,left=" + ((screen.width - 1300) / 2) + ",toolbar=no,menubar=no, scrollbars=no, resizable=no,location=no, status=no,alwaysRaised=yes,depended=yes");
    }
</script>
</body>
</html>