<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.3&key={{ .key }}"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>
<body>
<div id="container"></div>
<div class="button-group">
    <input type="button" class="button" value="弹窗" onclick="pp()"/>
</div>
<script>
    var map = new AMap.Map('container', {
        resizeEnable: true
    });
    function openWindow()
    {
        f="width="+1300+",height="+550+",top=90,left=" + ((screen.width - 1300) / 2) + ",toolbar=no,menubar=no, scrollbars=no, resizable=no,location=no, status=no,alwaysRaised=yes,depended=yes";
        //alert(f);
        var win = window.open("https://sh.focus.cn/loupan/20026845.html", "弹出窗口" ,f);
    }
</script>
</body>
</html>